body{
	background-color: dimgrey;
}

ul{
	text-align: left;
	background-color: darkred;
	padding-left: 10px;
	padding: 8px;
	width: 594px;
	margin: auto;

}

main{
	width: 590px;
	margin: auto;
	background-color: white;
	padding: 10px;
}

a{
	margin-right: 50px;	
	color: white;
	text-decoration: none;
}

footer{
	background-color: black;
	width: 600px;
	margin: auto;
	text-align: center;
	padding: 5px;
}

p{

}

#questions{
	max-width: 600px;
	margin-right: 0px;
	display: inline-block;
	margin: auto;
}

#inputs{
	max-width: 600px;
	margin-left: 0px;
	display: inline-block;
	margin: auto;
}

#foots{
	margin: auto;
	padding: 5px;
	color: white;
}

h1{
	margin: 0px;
	padding: 10px;
}

header {
    font-family: 'Frijole', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}